[Template]
Ver = 3
Name = Hello NASM
Category = NASM
Description = A simple nasm program
Name[zh_CN] = NASM你好
Category[zh_CN] = NASM
Description[zh_CN] = 简单的NASM汇编程序示例
Icon = app.ico


[Project]
Type = 1
IsCpp = true
Encoding = UTF-8
ClassBrowserType = 0
UnitCount = 1


[Unit0]
Source = main.asm
Target = main.asm
