[Template]
ver=2
Name=Console Application
Name[zh_CN]=控制台程序
Icon=console.ico
Description=A console application
Description[zh_CN]=一个简单的控制台程序
Category=基础

[Unit0]
CName=main.c
CppName=main.cpp
C=consoleapp_c.txt
Cpp=consoleapp_cpp.txt

[Project]
UnitCount=1
Type=1
