[Template]
Ver = 3
Name = C and ASM
Category = Assembly
Description = C and ASM mixing programming demo
Name[zh_CN] = C汇编混合
Category[zh_CN] = 汇编
Description[zh_CN] = C和汇编混合编程示例
Icon = app.ico


[Project]
Type = 1
IsCpp = true
Encoding = UTF-8
ClassBrowserType = 0
UnitCount = 2


[Unit0]
Source = utils.asm
Target = utils.asm


[Unit1]
Cpp = main.cpp
CppName = main.cpp
