[Template]
Ver = 3
Name = GAS & C
Category = Assembly
Description = C and GNU assembly mixing programming demo
Name[zh_CN] = GAS与C
Category[zh_CN] = 汇编
Description[zh_CN] = C和GNU汇编混合编程示例
Icon = app.ico


[Project]
Type = 1
IsCpp = 0
Encoding = UTF-8
ClassBrowserType = 0
UnitCount = 2


[Unit0]
Source = utils.s
Source[zh_CN] = utils_zh_CN.s
Target = utils.s



[Unit1]
Cpp = main.cpp
Cpp[zh_CN] = main.cpp
CppName = main.cpp
