IDI_ICON0 ICON images/devcpp.ico
IDI_ICON1 ICON images/associations/c.ico
IDI_ICON2 ICON images/associations/cpp.ico
IDI_ICON3 ICON images/associations/dev.ico
IDI_ICON4 ICON images/associations/c.ico
IDI_ICON5 ICON images/associations/cpp.ico
IDI_ICON6 ICON images/associations/h.ico
IDI_ICON7 ICON images/associations/hpp.ico
