[Template]
ver=2
Name=Tetris
Name[zh_CN]=俄罗斯方块
Icon=raylib-tetris.ico
Description=Tetris game using raylib ( https://raylib.com )
Description[zh_CN]=经典的俄罗斯方块游戏(基于raylib) ( https://raylib.com )
Category=Game
Category[zh_CN]=游戏

[Unit0]
CName=main.c
C=raylib_tetris_c.txt

[Project]
UnitCount=1
Type=1
IsCpp=0
linker=-lraylib -lopengl32 -lgdi32 -lwinmm
ExecEncoding=UTF-8
