[Template]
ver=2
Name=raylib
Name[zh_CN]=raylib
Icon=raylib-game.ico
Description=A simple interactive animation using raylib ( https://raylib.com )
Description[zh_CN]=简单的raylib交互动画 ( https://raylib.com )
Category=Multimedia
Category[zh_CN]=多媒体

[Unit0]
CName=main.c
C=raylib_c.txt

[Unit1]
Source=raylib_boom.wav
Target=boom.wav

[Unit2]
Source=raylib_explosion.png
Target=explosion.png

[Project]
UnitCount=3
Type=1
IsCpp=0
linker=-lraylib -lGL -lm -lpthread -ldl -lrt -lX11

