[Template]
ver=2
Name=Windows Application
Name[zh_CN]=Windows程序
Icon=Windows.ico
Description=A standard Windows application
Description[zh_CN]=基于Windows API开发的图形界面应用程序
Category=Basic
Category[zh_CN]=基础

[Unit0]
CName=main.c
CppName=main.cpp
C=winapp_c.txt
Cpp=winapp_c.txt

[Project]
UnitCount=1
Type=0
