[Template]
ver=2
Name=GLUT
Icon=CL_GLUT.ico
Description=A simple GLUT program
Description[zh_CN]=一个简单的GLUT程序
Category=Multimedia
Category[zh_CN]=3D

[Unit0]
CppName=main.cpp
C=CL_GLUT_cpp.txt

[Project]
UnitCount=1
Type=0
IsCpp=1
linker=-lm -lfreeglut_static -lopengl32 -lwinmm -lgdi32_@@__@@_



