[Template]
ver=2
Name=Jackpot
Icon=Games.ico
Description=A number guessing game
Description[zh_CN]=一个数字猜测游戏
Category=Console
Category[zh_CN]=控制台

[Unit0]
CName=main.c
CppName=main.cpp
C=Jackpot_c.txt
Cpp=Jackpot_cpp.txt

[Project]
UnitCount=1
Type=1
Icon=Games.ico
