[Template]
ver=2
Name=raylib
Name[zh_CN]=raylib
Icon=CL_Turtle.ico
Description=A simple program using raylib ( https://raylib.com )
Description[zh_CN]=简单的raylib程序 ( https://raylib.com )
Category=Multimedia
Category[zh_CN]=多媒体

[Unit0]
CName=main.c
C=raylib_c.txt

[Project]
UnitCount=1
Type=0
IsCpp=0
linker=-lraylib -lopengl32 -lgdi32 -lwinmm_@@__@@_

